.home-section{
    background-color: aqua;
    min-height: 50vh;
}

.home-content{
     display: flex;
    align-items: center;
    justify-content: space-evenly; 

}

.home-para{
    padding-left: 100px;
}
    .para-title{
        font-family:"miniver", Helvetica, sans-serif ;
        

    }
    .para-title-h2{
        color: orange;
        font-size: 40px;
        font-weight: 1000;
    }


.home-image{
    margin: 4rem auto;
    position: relative;
    background: url(images/coffeeshop3.jpeg) center/cover fixed no-repeat ;
  height: 40vh;
    border: 2px solid green;
    border-radius:50%;
    width: 40vh;
    transition: background 1s ease;
    background-position: bottom;
}

.btn-left1{
    position: absolute;
    top: 50%;
    left: -5%;
    background-color: black;
    padding: 10px;
    border-radius: 50%;
    transform: translateY(calc(-50%));
    cursor: pointer;
}

.btn-right1{
    position: absolute;
    top: 50%;
    right: -5%;
    background-color: black;
    padding: 10px;
    border-radius: 50%;
    transform: translateY(calc(-50%));
    cursor: pointer;
}


@media screen {
    .home-content{
     display: flex;
     flex-direction: column;
    align-items: center;
    justify-content: space-evenly; 

}

}