
/* header styling */

@media screen {
        header{
            background-color: brown;
            width: 100%;
            height: 100vh;
            overflow: hidden;
        }



        .nav-menu{
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            

        }
        .menu-item{
            padding: 10px;
            font-size: 20px;
            font-weight: 500;
        }

        .menu-item:hover{
            background-color: aqua;
            border: 2px solid aqua;
            border: none;
            border-radius: 50%;
            color: black;
            transition: 0.3s ease;
        
        }
        .nav-item a{
            text-decoration: none;
            color: rgb(230, 34, 34);
            
        }
        .nav-logo{
        
            text-decoration: none;
            color: rgb(195, 32, 3,0.1);
        }
        .navbar{
            background-color: rgba(164, 167, 35, 0.852);
            width: 100%;
            z-index: 5;
        

        }
        .nav-text{
            font-size: 50px;
            font-weight: 1000;
            background-image: url(images/coffeeshop2.jpeg);
            -webkit-background-clip:text;
            background-position: bottom;
        }


        .nav-menu button{
            display: none;
        } 
        .menu-open{        
            display: none;
        }


        header .navbar{
            position: fixed;
        }

}

 /* contact styling */

 @media screen  {
    
 

        .contact{
            font-family: Arial, Helvetica, sans-serif;
        
            padding: 20px;
            background-image: url(images/coffeeshop3.jpeg);
            background-position: right;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            object-fit: cover;
        
            
        }
        /* .contact{
            margin-bottom: 150px;
        } */
        .contact-section{
            display: flex;
            align-items: center;
            justify-content:space-between;
            
            }
            .contact-head{
            font-size: 32px;
            color: rgb(186, 31, 126);
           
            font-weight: 800;
            }

            .contact-head::after{
            content: " ";
            display: block;
            border-radius: 10px;
            margin-left:5px ;
            margin-top: 10px;
            width: 220px;
            height: 5px;
            background-color: brown; 
        }



        .contact-us{
            color: rgba(160, 203, 31, 0.793);
            text-align: center;
            }

        .cnct p{
            color: rgb(225, 227, 221);
        }



        .our-detials{
            list-style: none;
        }



        /* container element */
        .contact-title{
            color: rgba(34, 13, 192, 0.827);
            text-align: center;
        }
        .container-form{
            margin-top:200px ;
            max-width: 400px;
            border-radius: 40px;
            margin: auto;
            padding: 20px;
            background-color: rgba(75, 129, 102, 0.1);
            backdrop-filter: blur(10px);

        } 

        .container-form{
           margin-bottom: 20px;
        }
        .contact-detials{
            font-size: small;
            font-weight: 500;
            
        }
        .label{
            display: block;
            margin-bottom: 5px;
            color: rgba(140, 218, 14, 0.658);
            
        }
        .input,.textarea{
            width: 80%;
            padding: 5px;
            margin-bottom: 5px;
            border: 1px solid rgb(105, 65, 65);
            border-radius: 10px;
            outline: none;
            background-color: transparent;
            color: azure;
        
        }
        .textarea
        {
            max-width: 400px;
            max-height: 300px;}
        .input:focus{
            border:1px solid rgb(238, 205, 205);
            
        }
        .btn-input{
            padding: 5px;
            background-color: rgb(104, 118, 114,0.5);
            border-radius: 5px;
            margin: 4px 2px 0  ;
            margin-top: 10px;
            color:white;
        }
        .btn-input:hover{
            background-color:transparent;
            color: rgb(131, 81, 81);
            border: 1px solid whitesmoke;
        }

}
    

/* about styling */

@media screen {
    



        .about-content{
            background-color: rgb(128, 204, 98);
            min-height: 400px;
        }
        .content{
            display: flex;
            flex-direction:row;
            align-items: center;
            justify-content: space-around;
            padding: 10px;
        }

        .about-image-inside{
            border-radius: 50%;
            border:  1px solid aliceblue;
            box-shadow: 1px 10px 10px 1px rgb(195, 95, 95);
        }
        .about-detials{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;  
        }
        .about-heading{
            font-size: 32px;
            color: rgb(145, 67, 67);
            text-align: center;
            font-weight: 800;

        }

        .about-heading::after{
            content: " ";
            display: block;
            border-radius: 10px;
            margin-left:5px ;
            margin-top: 10px;
            width: 140px;
            height: 5px;
            background-color: rgb(196, 122, 31) ; 
        }

        .about-para{
            font-style: italic ;
            max-width: 800px;
            color: rgb(63, 123, 150);
            padding-bottom: 60px;
            line-height: 25px;
            word-spacing: 5px;
        }


        .social-media{
            display: flex;
            gap: 20px;
            }
        
        .facebook{
            color: rgb(29, 57, 125);
            
        }
        .insta{
            color: rgb(166, 43, 62);
        }

        .twitter{
            color: rgb(57, 55, 55);
        }

        .facebook:hover{
            color: rgb(5, 5, 239);
            box-shadow: 1px 1px 1px 1px rgb(12, 52, 197);
        }

        .insta:hover{
            color: rgb(218, 13, 47);
            box-shadow: 1px 1px 1px 1px rgb(185, 19, 19);
        }
        .twitter:hover{
            color: black;
            box-shadow: 1px 1px 1px 1px rgb(245, 239, 239);
        }


}

/* footer design */
  /* .footer{
    
        margin: 0px;
        padding: 0px;
        width: 100%;
        background-color: rgb(153, 130, 101);
        border: 1px solid rgb(248, 240, 240);
       border: none;
        color: white;
        
        transform: scaleX(1.13) translateY(170px);
        
    } 
    
    .footer-section{
        display: flex;
        justify-content: space-between;

        list-style: none;

    }
    .privacy-list{
        padding-right:50px ;
    } */


   /* .menu-icon{       // not in use 
    display:none; 
}    */
/*
@media screen and (max-width:800px) {


     .navbar :where(#menu-close-button ,#menu-open-button ){

     display: block;
     
    font-size: large;
    font-weight: 600;
}


    .navbar{
    display: block;
    
}
 /* .menu-icon{
    display: flex;
}  */

/*
 .navbar .nav-menu{
    display: block;
    position:fixed;
    right: 0px;
    top:100;
    width:300px;
    height:100%;
    background-color: rgb(64,0,0,0.2);


    /* align items within nav menu  */
 /*   display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    transition:top 2s ease; 

 }
 

body.show-mobile-menu .navbar .nav-menu {
    right: 0; /* Reveal menu 
}*/

  @media screen and (max-width:800px) {


.navbar :where(#menu-close-button ,#menu-open-button ){
display: block;  
font-size: large;
font-weight: 600;
}

.navbar{
    display: block;
    position:fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

 .navbar .nav-menu{
    display: block;
    position:fixed;
    right: 10px;;
    top:0;
    width:300px;
    height:100%;
    background-color: rgb(64,0,0);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    transition:right 3s ease;
    z-index: 1;
 }
/* 
body.show-mobile-menu .navbar .nav-menu .menu-item{
    right: 0;
} */
 .navbar .menu-item{
     display: block;
     margin-top: 15px;
     font-size: large;
     font-weight: 700;
 }
  /* #menu-open-button{      // not required
    display: flex;
   
} */
 #menu-close-button{
    display: flex;
   
}
.menu-open button{
    
    position: absolute;
    background-color: rgb(64, 64, 64);
    color: rgb(240, 242, 240);
    top: 10px;
    right: 0;
}
.menu-open{
    display: flex;
    
    
   /* flex-direction:column;
    align-items: flex-end;
    padding-top: 10px;
    padding-right: 10px;   */
    
}  
.navbar .nav-menu {
    right: -300px; /* Hide menu */
}
body.show-mobile-menu .navbar .nav-menu {
   right : 0; /* Reveal menu */
}

/*  contact section */



    .contact-section{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
        
    }


   


    
}



